<template>
  <header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Intitulé
                                <br>officiel
                            </p>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
                            <p class="fr-header__service-title">
                                Mobilités +
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</template>

<script lang="ts">
  import { Vue } from 'vue-class-component';

  export default class AppHeader extends Vue {}
</script>

<style>
</style>
