<template>
  <div class="customMargin">
    <div class="fr-stepper">
      <h2 class="fr-stepper__title">
        <span class="fr-stepper__state">Étape {{ tabIndex }} sur 3</span>
        Sélectionnez votre statut
      </h2>
      <div v-if="tabIndex === 1" class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="3"></div>
      <div v-if="tabIndex === 2" class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="3"></div>
      <div v-if="tabIndex === 3" class="fr-stepper__steps" data-fr-current-step="3" data-fr-steps="3"></div>
      <p v-if="tabIndex === 1" class="fr-stepper__details">
        <span class="fr-text--bold">Étape suivante:</span>
        Renseignez les informations
      </p>
      <p v-if="tabIndex === 2" class="fr-stepper__details">
        <span class="fr-text--bold">Étape suivante:</span>
        Renseignez les informations de votre enfant
      </p>
    </div>
    <TabsOne v-if="tabIndex === 1" :tabIndex="tabIndex" @emitNext="increment" />
    <TabsTwo v-if="tabIndex === 2" :tabIndex="tabIndex" @emitNext="increment" @emitResult="result" />
    <TabsThree v-if="tabIndex === 3" :resultAppelAPI="resultAppelAPI" />
  </div>
</template>

<script lang="ts">
import TabsOne from './TabsOne.vue';
import TabsTwo from './TabsTwo.vue';
import TabsThree from './TabsThree.vue';

export default {
  name: 'AppHome',
  components: {
    TabsOne,
    TabsTwo,
    TabsThree,
  },
  data() {
    return {
      tabIndex: 1,
      resultAppelAPI: true,
    };
  },
  methods: {
    increment() {
      this.tabIndex++;
    },
    result(result) {
      this.resultAppelAPI = result;
    },
  },
};
</script>

<style scoped>
.customMargin {
  margin: 50px 120px 50px 120px;
}
</style>
