<template>
  <div>
    <AppHeader />
    <AppHome />
    <AppFooter />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import AppHeader from '@/components/AppHeader.vue';
import AppFooter from '@/components/AppFooter.vue';
import AppHome from '@/components/AppHome.vue';

@Options({
  components: {
    AppHeader,
    AppFooter,
    AppHome,
  },
  props: {
    msg: String,
  },
})
export default class AppMain extends Vue {
  msg!: string;
}
</script>

<style src='@gouvfr/dsfr/dist/dsfr/dsfr.min.css'>
    /* global styles */
</style> 

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
