<template>
  <div v-if="resultAppelAPI">
    <div class="fr-alert fr-alert--success">
      <h3 class="fr-alert__title">Votre enfant est bien scolarisé et éligible au tarif réduit</h3>
      <p>
        Le ministère de l'Education nationale vient de confirmer que votre enfant est bien scolarisé. Vous n'avez pas besoin de transmettre
        un certificat de scolarité.
      </p>
    </div>
       <div class="fr-callout">
      <h3 class="fr-callout__title">
        Les informations suivantes figureront sur la carte Mobilités + de votre enfant : 
      </h3>
      <p class="fr-callout__text">
       <ul>
       <li>Nom</li>
       <li>Prénom</li>
       <li>Etablissemnt</li>
       </ul>
      </p>
    </div>
    <label class="fr-label" for="text-input-text">Votre adresse postale pour l'envoi de la carte Mobilités + :</label>
    <input class="fr-input" type="text" id="text-input-text" name="text-input-text" />

  </div>
  <div v-if="!resultAppelAPI">
    <div class="fr-alert fr-alert--warning">
      <h3 class="fr-alert__title">Nous n'avons pas trouvé l'inscription de votre enfant.</h3>
      <p>
        Le ministère de l'Education nationale n'a pas pu confirmer que votre enfant est bien scolarisé. Il est nécessaire de nous
        <b> transmettre un certificat de scolarité.</b>
      </p>
    </div>
       <div class="fr-callout">
      <h3 class="fr-callout__title">
        Les informations suivantes figureront sur la carte Mobilités + de votre enfant : 
      </h3>
      <p class="fr-callout__text">
       <ul>
       <li>Nom</li>
       <li>Prénom</li>
       <li>Etablissemnt</li>
       </ul>
      </p>
    </div>
    <label class="fr-label" for="text-input-text">Votre adresse postale pour l'envoi de la carte Mobilités + :</label>
    <input class="fr-input" type="text" id="text-input-text" name="text-input-text" />
  </div>

    <button class="fr-btn">Envoyer la demande</button>
</template>

<script lang="ts">
export default {
  name: 'TabsThree',
  props: ['resultAppelAPI'],
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    };
  },
};
</script>

<style>
.fr-alert{
  margin-bottom: 30px;
}
.fr-input{
  margin-bottom: 30px;
}
</style>
