<template>
  <div>
    <div class="fr-form-group">
      <fieldset class="fr-fieldset">
        <legend class="fr-fieldset__legend fr-text--regular" id="radio-legend">Vous êtes :</legend>
        <div class="fr-fieldset__content">
          <div class="fr-radio-group">
            <input type="radio" id="radio-1" name="radio" checked="true" />
            <label class="fr-label" for="radio-1">étudiant</label>
          </div>
          <div class="fr-radio-group">
            <input type="radio" id="radio-2" name="radio" disabled/>
            <label class="fr-label" for="radio-2">demandeur d'emploi</label>
          </div>
          <div class="fr-radio-group">
            <input type="radio" id="radio-3" name="radio" disabled/>
            <label class="fr-label" for="radio-3">parent d'un élève</label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <button class="fr-btn" v-on:click="emitNext">Continuer ></button>
</template>

<script lang="ts">
export default {
  name: 'TabOnes',
  props: ['tabIndex'],
  methods: {
    emitNext() {
      console.log('trying');
      this.$emit('emitNext');
    },
  },
};
</script>

<style></style>
