<template>
  <AppMain msg="Welcome to Your Vue.js + TypeScript App"/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import AppMain from './components/AppMain.vue';

@Options({
  components: {
    AppMain,
  },
})
export default class App extends Vue {}
</script>

<style>

</style>
